@model Krammatik_Frontend.Models.SignupModel


@{
    ViewBag.Title = "Login";
}  
<div>
 @using (Html.BeginForm("SignupMethod", "Signup", FormMethod.Post))
{
   
<div>@Html.LabelFor(model=>model.Username)
     @Html.TextBoxFor(model=>model.Username)
</div>
<div>@Html.LabelFor(model=>model.Password)
     @Html.TextBoxFor(model=>model.Password)
</div>
<button type="submit"> Signup</button> 
}</div>
