@model Krammatik_Frontend.Models.SignInModel

@{
    ViewBag.Title = "Login";
}  


 <div class="form-group">

 @using (Html.BeginForm("UserAuthentication", "Login", FormMethod.Post))
{ 

<div >
     @Html.LabelFor(model=>model.Username,new{@class="form-label"})
     @Html.TextBoxFor(model=>model.Username,new{@class="form-control",type="email"})

</div>

<div >
     @Html.LabelFor(model=>model.Password,new{@class="form-label"})
     @Html.TextBoxFor(model=>model.Password,new{@class="form-control",type="password"} )
</div>


  <button class="btn btn-primary" type="submit"> Login </button>
}
</div>

